<div class="content animate__animated  animate__slideInUp">
    <div class="col-md-12">
    <div class="card">
        <div class="card-header">Güncelleme</div>
        <div class="card-body">
            <form [formGroup]="bookUpdateForm">
                <div class="mb-3">
                    <label>Kitap Adı:</label>
                  
                    <input  type="text" id="name" placeholder= {{bookService.selectedBook.name}}  formControlName="name" (change)="onNameChange($event)"  class="form-control"/>
                    <myinput-errors fieldName="name" />
                </div>
                
              

                <div class="mb-3">
                    <label for="categoryId" > Kategori: </label>
                    <select name="categoryId" id="categoryId" formControlName="categoryId" (change)="onCategoryChange($event)"  >
                        <option value="" disabled selected>Şu an:{{bookService.selectedBook.categoryName}}</option>
                        <option *ngFor="let item of categories" [value]="item.id" >
                        {{ item.categoryName }}
                      </option>
                    </select> <myinput-errors fieldName="categoryId" /></div>

                <div class="mb-3">
                    <label>ISBN:</label>
                    <input type="text" id="isbn"  placeholder={{bookService.selectedBook.isbn}} formControlName="isbn" (change)="onIsbnChange($event)" class="form-control" />
                    <myinput-errors fieldName="isbn" />
                </div>
                <div class="mb-3">
                    <label>Dil:</label>
                    <input type="text" id="language" placeholder={{bookService.selectedBook.language}} formControlName="language" class="form-control"/>
                    <myinput-errors fieldName="language" />
                </div>
                
                <div class="mb-3">
                    <label>Sayfa Sayısı:</label>
                    <input type="text" id="page" placeholder={{bookService.selectedBook.page}} formControlName="page" (change)="onPageNumberChange($event)" class="form-control" />
                    <myinput-errors fieldName="page" />
                </div>



                <div class="mb-3">
                    <label for="authorId" > Yazar: </label>
                    <select name="authorId" id="authorId" formControlName="authorId" (change)="onAuthorChange($event)">
                        <option value="" disabled selected>Şu an:{{bookService.selectedBook.authorName}}</option>
                        <option *ngFor="let item of authors " [value]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                    <myinput-errors fieldName="authorId" /></div>
                
                 <div class="mb-3">
                    <label for="publisherId" > Yayınevi: </label>
                    <select name="publisherId" id="publisherId" formControlName="publisherId" (change)="onPublisherChange($event)  ">
                        <option value="" disabled selected>Şu an:{{bookService.selectedBook.publisherName}}</option> 
                        <option *ngFor="let item of publishers" [value]="item.id">
                        {{ item.name }}
                      </option>
                    </select> <myinput-errors fieldName="publisherId" /> </div>

                <div class="mb-3">
                    <label>Stok Adedi:</label>
                    <input type="number" id="unitsInStock" placeholder={{bookService.selectedBook.unitsInStock}} formControlName="unitsInStock" (change)="onStockChange($event)" class="form-control"  />
                    <myinput-errors fieldName="unitsInStock" />
                </div>
                <div class="mb-3">
                    <label>Açıklama: </label>
                    <textarea placeholder={{bookService.selectedBook.description}} id="description" formControlName="description" class="form-control "(change)="onDescriptionChange($event)"  style="height: 100px;">
                    </textarea>
                    <myinput-errors fieldName="description" />
                </div>
                
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-dark w-50" (click)="updateToDb()">Güncelle</button>
           
           
        </div>
    </div>
</div>

