<div class="content">
    <div class="card">
        <div class="card-header">Yazar Ekle</div>
        <div class="card-body">
            <form [formGroup]="authorAddForm">
                
                <div class="mb-2">
                    <label>Yazar adı:</label>
                  
                 <myinput
                 inputType="text"
                     controlName="name"
                     placeholder="Yazar"
                 />
                
                     
                </div>
                
               
                <div class="mb-3">
                    <label>Kimlik:</label>
                    <input type="text" placeholder="identity" id="identityNumber" formControlName="identityNumber" class="form-control"/>
                </div>
           
                <div class="mb-3">
                    <label>Biyografi:</label>
                    <textarea  placeholder="biyografi" formControlName="biography" id="biography" class="form-control" style="height: 100px;"></textarea>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-dark w-50" (click)="addToDb()">Ekle</button>
        </div>
    </div>
</div>
