<!-- loan-form.component.html -->

<div class="container mt-5  animate__animated  animate__fadeInRight">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card">
              <div class="card-body">
              
                  <h6 class="card-title">Ödünç Alacak Kişi: {{authService.loggedInMember?.firstName?.toUpperCase()+" "+authService.loggedInMember?.lastName?.toUpperCase() }}</h6>
                  <h5 class="card-title">Ödünç Alınacak Kitap: {{ bookService.selectedBook.name }}</h5>
          
                  <form [formGroup]="loanForm">
                     <div>

                      <div class="fmb-3" hidden>
                        <label for="returnStatus">Ödünç Durumu:</label>
                        <input type="number" class="form-control" id="returnStatus"  formControlName="returnStatus" readonly  required>
                    </div>

                      <div class="mb-3" >
                          <label for="returnTime">İade Tarihi:</label>
                          <input type="date" class="form-control" id="returnTime" formControlName="returnTime"   required>
                      </div>
                    
                      <button type="submit" class="btn btn-outline-dark w-50" (click)="addToDb()">Ödünç Al</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>


