


<div class="container">
    <div class="col-md-12">
    <div class="card">
        <div class="card-header">Kullanıcı Bilgilerini Güncelle</div>
        <div class="card-body">
            <form [formGroup]="memberUpdateForm">
                <div class="mb-3">
                    <label>ID: </label>
                    <input type="text" placeholder="ID" formControlName="id" class="form-control" value="{{authService.loggedInMember?.id}}" readonly/>
                </div>

               <div class="mb-3">
                    <label>Kullanıcı Adı:</label>
                    <input type="text" placeholder="Ad" formControlName="firstName"  class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Kullanıcı Soyadı:</label>
                    <input type="text" placeholder="Soyad" formControlName="lastName"  class="form-control"/>
                </div>
               
                <div class="mb-3">
                    <label>Email:</label>
                    <input type="email" placeholder="Email" formControlName="email"  class="form-control" value="{{authService.loggedInMember?.email}}" readonly/>
                </div>
                
                
            </form>
        </div>
        <div class="card-footer">
            <button type="button" (click)="updateToDb()">Güncelle</button>
        </div>
    </div>
</div>

