$red:#fef8f9;

*{
    margin:0;
}
    //justify-content: right;
   // padding:5px;

   
// .collapse{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
  

.navbar{
    background-color: $red;
    padding: 15px;
    //margin-inline: 25px;
    .navbar-nav{
        margin-right: 30px;
        li{
          margin-right: 5px;;
          a{
              margin: 2px;
            width: 35px;
           }
         }
      } 
      .navbar-nav:hover{
        a:hover{
            padding-top: 5px;
            transition: 0.3s;
            }
      }
      #fark{
        //margin-left: 250px;
       .btn{
            background-color: #f6d3d9;
        }
        
        
            input:focus{
                border-color: #814348 ;
                border: 1px solid;
        
                box-shadow:0 0 0 0.2rem rgba(131, 70, 70, 0.25);
                
            }
           ;
            
        
    }
   .navbar-brand{
       img{
         margin-left: 30px;  
       }
       
   }
   .kb{
    background-color: #f6d3d9;
    color: black;
    border: none;
   }
   .ts{
    a:hover{
      background: linear-gradient(to bottom, rgb(193, 123, 123), rgb(116, 27, 27));
      box-shadow: 0px 3px 20px 0px block; 
      color:white;
   }}
   #auth{
    background: linear-gradient(to bottom, rgb(193, 123, 123), rgb(216, 106, 106));
  }

}
h2 {
  font-size: 22px;
  background:linear-gradient(to bottom, #e2afaf, #6e0f0f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 40px;
 }



 @media(max-width:768px){

  .navbar{
    
    .container-fluid{
      flex-direction: column;
      h2{
        margin-right: 40px;
      }
  
     .navbar-nav{
      flex-direction: row;
      margin: 10px 10px;
     // padding-left: 10px;
      

     }

     #fark{
      width:90%;
    justify-content: center;
     
     }
    
    }
  }

 }