
<div class="topbar border-bottom d-none d-md-block ">
    <div class="container-fluid  px-2 px-md-5 px-xl-8d75">
        <div class="topbar__nav d-flex justify-content-between align-items-center font-size-2">
            <ul class="topbar__nav--left nav ml-lg-n3">
                <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-geo-alt-fill"></i> 
                           </a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-envelope-at-fill"> </i>  
                        </a></li>
            </ul>
            <ul class="topbar__nav--right nav">
               
                <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-instagram"></i> 
                </a></li>
                <li class="nav-item"><a  class="nav-link text-white"><i class="bi bi-whatsapp"></i> 
                </a></li>
              
              
            </ul>
        </div>
    </div>
</div>



